<section class="boardOfComments">
  <div class="boardOfComments__single" *ngFor="let comment of comments; let i=index">
    <div class="boardOfComments__single-photo">
      <img src= '{{comment.photo}}'>
    </div>
    <div class="text">
      <div class="data">{{comment.name}} | {{comment.dateAdded| date: 'shortTime'}} | {{comment.dateAdded | date: 'fullDate'}}</div>
      <textarea [disabled]="comment.isDisabledText" class="textadd" value="{{comment.comment}}"></textarea>

      <div class="btn">
        <button [hidden]="comment.isHiddenRemoveOrEditBtn" (click)="onEditOrDelete(i)" value="edit">EDIT</button>
        <button [hidden]="comment.isHiddenRemoveOrEditBtn" (click)="onRemove(i)" value="remove">DELETE</button>
        <button [hidden]="comment.isHiddenOKBtn"  (click)="onEditOrDelete(i)" value="ok">OK</button>
      </div>
    </div>
  </div>
</section>

